*,
::before,
::after{
    margin: 0;
    padding: 0;  
}

html{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body{
    
    box-sizing: inherit; 
    background: #fefae0; 
}

.app{
    padding: 2em 0 0 0;
    background-image: url(/src/images/background-image.png);
    background-repeat: no-repeat;
    background-position: right -5%;
    background-position-x: 110%;
    background-size: 40%;
}

/* nav menu */

.nav--container{
    padding: 0 3em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3em;
}

/* site logo */

.site--logo{
    display: flex;
    text-decoration: none;
}

.site--logo--image{
    width: 4em;
    height: 4em;
}

.site--logo--text{
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 0.25em;
    margin-bottom: 0;
    color: black
}

/* search bar */

.search--bar--icon{
    font-size: 1.5em;
    padding: 0 0.3em;
    cursor: pointer;
}

.search--bar{
    height: 2.4em;
    width: 40em;
    border-radius: 2em;
    border: 1px solid black;
    background: white;
}

.search--bar--container{
    display: flex;
    align-items: center;
    
}

.search--bar[placeholder] {
    padding-left: 1em;
    font-weight: bold;
}

/* profile page */

.profile--pic{
    width: 5em;
    height: 5em;
    border: 1px solid gray;
    border-radius: 3em;
    object-fit: cover;
}

/* main 1 */

.site--info--container{
    padding: 0 3em;
}

.main--info--container{
    display: flex;
    background-color: rgba(245,227,199, 0.5);
    border-radius: 2em;
    padding: 4em;
}

.main--info{
    max-width: 40em;
}

.main--info--container h1 {
    font-size: 4em;
    color: #C9B79C;
}

.main--info--container p {
    font-weight:100;
    font-size: 1.5em;
    padding-bottom: 1em;
    font-weight: 100;
}

.shopping--button{
    background: #C9B79C;
    border: 0;
    border-radius: 2em;
    font-size: 2em;
    padding: 0.25em 0.5em;
    font-weight: 600;
    margin-top: 1em;
    color: #f5e3c7 ;
}

.shopping--button:hover{
    cursor: pointer
}

.site--info--picture{
    padding-left: 10em;
}

.site--info--picture img{
    width: 20em;
}

/* main 2 */

.product--list--container{
    padding: 3em 2em;
}

.product--header{
    font-size: 4em;
    color: #343a40;
}

/* footer */

.site--footer{
    background-color: #6d8b6d;
    padding: 7em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/src/images/background-image.png),url(/src/images/background-image-2.png);
    background-repeat:no-repeat, no-repeat;
    background-position: 125% -30%, bottom left;
}

.footer--logo{
    display: flex;
    align-items: center;
}

.footer--logo--image{
    width: 6em;
}

.footer--logo--text{
    font-weight: bold;
    font-size: 4em;
    text-align: center;
}

.footer--text--container{
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    max-width: 50em;
    margin: 3em 0;
    text-align: center;
}

/* product display */

.product--header{
    margin-bottom: 1em;
    text-align: center;
}

.product--list--container{
    margin: 5em 0 5em 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.product--listing{
    display: flex;
    gap: 1em;
    overflow-x: auto;
}

.product--container{
    border: 2px solid gray;
    border-radius: 1em;
    min-width: 20em;
    background: rgb(245,227,199);
}

.products--refresh--icon{
    align-self: center;
    font-size: 3em;
    background: #C9B79C;
    border-radius: 2em;
    padding: 0.3em;
    color: #f5e3c7
}

.products--refresh--icon:hover{
    cursor: pointer;
}


.product--image{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom: 2px solid gray;
    height: 15em;
    object-fit:cover;
    width: 100%;
}

.product--name{
    font-weight: 100;
}

.product--price{
    margin-bottom: 0.5em;
    font-size: 2em;
}

.product--info{
    padding: 0.5em 0 1em 1em;
}

/* log in and sign up */

.login--button,
.signup--button{
    text-decoration: none;
    color: black;
    width: 5em;
    font-size: 1em;
    font-weight: bold;
    background-color: rgb(212, 212, 188);
    border: 1px solid #774936;
    border-radius: 0.5em;
    text-align: center;
    padding: 0.5em 0 0.5em 0;
}

.login--button:hover, .signup--button:hover{
    cursor: pointer;
}



.register--container{
    display: flex;
    
    gap: 1em;
}